<!DOCTYPE html>
<html>
  <head>
    <title>CEDSA S2</title>
    <link rel='stylesheet' type="text/css" href='/css/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  
    <header>
        <h2>Bem vindo a CEDSA!</h2>
    </header>

    <br/>




    <form action="/musica/salvar" method="post">
         <h3>Sugira uma musica:</h3>
		  <div class="form-group">
        
		  	<input type="text" class="form-control" id="nomeMusica" name="nomeMusica" placeholder="Nome">
		  </div>
		  <div class="form-group">
		  	<input type="text" class="form-control" id="artista" name="artista" placeholder="Artista">
		  </div>
  
		  <div class="form-group">
		  	<select id="genero" name="genero" >
          <option disable selected>Gênero</option>
          <option value="funk">Funk</option>
          <option value="rap">Rap</option>
          <option value="indie">indie</option>
          <option value="pop">Pop</option>
          <option value="rock">Rock</option>
          <option value="metal">Metal</option>
          <option value="mpb">MPB</option>
          <option value="outro">Outro</option>
        </select>
		  </div>
		  <button type="submit" >Enviar</button>
		  </form>

      <footer><h1>Powered by: King Raven Code<h1></footer>
  </body>
</html>
