<!DOCTYPE html>
<html>
  <head>
    <title>CEDSA S2</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>

    <div>
        <h2>Voto bem sucedido!</h2>
    </div>
    <br/>

  </body>
</html>
